<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebCrawler.Infrastructure.Data.Properties.Settings.upzoneco_webcrawlerConnectionString"
             connectionString="server=upzoneco.mysql.db.hostpoint.ch;user id=upzoneco_crawl;persistsecurityinfo=True;database=upzoneco_webcrawler"
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>