/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1742)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [WebCrawler]    Script Date: 15.11.2017 23:25:51 ******/
CREATE DATABASE [WebCrawler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebCrawler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\WebCrawler.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebCrawler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\WebCrawler_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebCrawler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebCrawler]
GO
USE [WebCrawler]
GO
/****** Object:  Table [dbo].[Webpage]    Script Date: 15.11.2017 23:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Webpage](
	[WebpageId] [int] IDENTITY(1,1) NOT NULL,
	[WebpageUri] [nvarchar](2048) NOT NULL,
	[WebpageUriHash] [varbinary](max) NOT NULL,
	[WebpageTitle] [nvarchar](255) NULL,
	[WebpageMime] [nvarchar](64) NULL,
	[LastCrawledDate] [datetime] NULL,
	[Depth] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[RootUriHash] [varbinary](max) NULL,
 CONSTRAINT [PK_Webpage] PRIMARY KEY CLUSTERED 
(
	[WebpageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
